<div class="row" ng-controller="InitialCtrl">
  <div clas="row">
    Categorias
  </div>
  <div class="row">
    <div class="col-xs-3 col-md-3 col-md-offset-2 col-xs-offset-2 text-center">
      <a href="#" ng-click="goToGeography()" class="thumbnail">
        <img src="img/geography.png" alt="logo">
      </a>
    </div>
    <div class="col-xs-3 col-md-3 col-md-offset-2 col-xs-offset-2 text-center">
      <a href="#" ng-click="goToMath()" class="thumbnail">
        <img src="img/math.png" alt="logo">
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3 col-md-3 col-md-offset-2 col-xs-offset-2 text-center">
      <a href="#" ng-click="goToCine()" class="thumbnail">
        <img src="img/cine.png" alt="logo">
      </a>
    </div>
    <div class="col-xs-3 col-md-3 col-md-offset-2 col-xs-offset-2 text-center">
      <a href="#" ng-click="goToFutbol()" class="thumbnail">
        <img src="img/futbol.png" alt="logo">
      </a>
    </div>
  </div>
</div>